/* add custom styles */
a{
 color: white;
 text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: underline;
}

body{
  background-color: #FDFDFD;
  color: #63738F;
}

.border{
  border: black 1px solid;
}

.jumbo{
  height: 360px;
  background-image: url('https://pixabay.com/get/7ac3e3e5dc985f278d8f/1445310560/macbook-923128_1920.jpg?direct');
  /*background-size: cover;*/
  background-position: left bottom;
  border-bottom: black 1px solid;
  color: black;
  /*text-decoration: underline;*/
}

.title-icons{
  padding-top: 10px;
}

.project{
  height: 300px;
  color: #3473A3;
}

.section{
  margin-top: 30px;
}

.project-link{
  height: 40px;
  margin-top: 2px;
}

.text-center{
  text-align: center;
}

.icon{
  font-size: 40px;
  color: black;
}

.icon-header{
  font-size: 60px;
  color: black;
}

.icon:hover{
  color: #868686
}

.icon-header:hover{
  color: #868686;
}

.title{
  font-size: 120px;
  font-weight: 900;
  /*vertical-align: middle;*/
  /*line-height: 30vh;*/
  font-style: bold;
  color: black;
  /*border-bottom: #5C76A7 1px solid;*/
}

.project-title{
  color: black;
  padding-top: 30px;
  letter-spacing: 4px;
}

.resume{
  height: 400px;
}

.study-up{
  background-image: url('https://images.unsplash.com/3/doctype-hi-res.jpg?q=80&fm=jpg&s=88871674ce3ce449062b3a16c0be6c66');
  background-size: cover;
}

.playlist{
  background-image: url('../images/Project-playlist.png');
  background-size: cover;
  background-position: right;
}


.text-outline{
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.text-outline-title{
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
